{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "dist/fireenjin/fireenjin.css",
            "label": "CSS distribution"
          },
          {
            "path": "dist/fireenjin/fireenjin.esm.js",
            "label": "JS distribution"
          }
        ]
      }
    ],
    "@semantic-release/npm"
  ]
}
