block-navigation {
    height: 100vh;
    width: var(--navigation-width, 200px);
    display: inline-block;
    background: var(--ion-color-primary);
}

block-navigation ion-list > ion-img {
    width: 80%;
    margin: 20px auto;
    display: block;
    background-color: var(--ion-background-color);
    border-radius: 100%;
    padding: 10%;
}

block-navigation ion-item {
    min-width: 200px;
    color: var(--ion-color-dark-shade);
}

block-navigation ion-item:not(.ion-activated):hover,
block-navigation ion-item:not(.ion-activated):hover ion-icon {
    color: var(--ion-color-primary);
    background: var(--ion-color-secondary-shade);
}

block-navigation ion-item.ion-activated {
    position: relative;
    background: var(--ion-background-color);
}

block-navigation ion-item.ion-activated,
block-navigation ion-item.ion-activated ion-icon {
    --ion-text-color: var(--ion-color-primary);
    color: var(--ion-color-primary);
}

@media only screen and (max-width: 500px) {
    :root {
        --navigation-width: 55px;
    }
}